<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/observer.js"></script>
    <script src="js/watcher.js"></script>
    <script src="js/compile.js"></script>
    <script src="js/mvvm.js"></script>
</head>
<body>
<div id="mvvm-app">
    <input type="text" v-model="someStr">
    <input type="text" v-model="child.someStr">
    <p v-class="className" class="abc">
        {{someStr}}
        <span v-text="child.someStr"></span>
    </p>
    <!--<p v-html="child.htmlStr">11</p>-->
    <button v-on:click="clickBtn">change model</button>
</div>
<script>
    /*var data={name:'kindeng',aa:{bb:'bb'}};
    observe(data);
    data.name
    data.aa.bb*/

    var vm = new MVVM({
        el: '#mvvm-app',
        data: {
            someStr: 'hello ',
            className: 'btn',
            //htmlStr: '<span style="color: #f00;">red</span>',
            child: {
                someStr: 'World !'
            }
        },
        methods: {
            clickBtn: function(e) {
                var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
            }
        }
    });


</script>
</body>
</html>